body {
    margin: 0;
    padding: 0;
    color : black
}

.header {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header img {
    height: 50px;   
}

.header nav {
    margin-left: 20px;
}

.header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header nav ul li {
    margin-right: 20px;
}

.header nav ul li a {
    text-decoration: none;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin: 50px 0;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    text-align: justify;
    margin: 20px 0;
}

.event {
    display: flex;
    align-items: center;
    margin: 50px 0;
}

.event img {
    width: 300px;
    margin-right: 20px;
}

.event-info {
    width: 60%;
}

.event-info h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.event-info .date,
.event-info .location {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.event-info .description {
    font-size: 1.2em;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    text-align: center;
    padding: 10px;
}

footer p {
    text-align: center;
    padding: 10px;
    color: #ffffff;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
    
footer li {
    display: inline-block;
    margin: 0 10px;
}
    
footer a {
    text-decoration: none;
    color: #ffffff;
}

#countdown {
    text-align: center;
    font-size: 15px;
  }
  
  #countdown p {
    display: inline-block;
    margin: 0 20px;
  }
  
  .div-image {
    text-align: center;
  }
  
  .image{
    width: 30%;
  }

  .titre {
    text-decoration: none;
    margin : 0;
    padding : 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
  .inscription{
    font-size: 50px;
  }